<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @rout.user %>
</p>

<p>
  <b>Latitude:</b>
  <%= @rout.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @rout.longitude %>
</p>

<p>
  <b>Address:</b>
  <%= @rout.address %>
</p>

<p>
  <b>Description:</b>
  <%= @rout.description %>
</p>

<p>
  <b>Title:</b>
  <%= @rout.title %>
</p>

<p>
  <b>User:</b>
  <%= @rout.user_id %>
</p>


<%= link_to 'Edit', edit_rout_path(@rout) %> |
<%= link_to 'Back', routs_path %>
